---
import { createStyles, type CssStyleObject } from '../helpers';

interface Props {
  style?: CssStyleObject;
}

const { style } = Astro.props;
---

<h1 style={{ ...createStyles(style) }}><slot /></h1>
